@font-face {
font-family: 'coolvetica';
src: 
  url('../OpticTech/fonts/coolvetica\ compressed\ hv.otf') format('woff');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: 'coolvetica condensed rg';
src: 
  url('../OpticTech/fonts/coolvetica condensed rg.otf') format('woff');
font-weight: normal;
font-style: normal;
}
